<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <main>
        <div>
            <% if (error) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>              
        </div>
        <section>
            <h1>Welcome back!</h1>
            <form action="/login-form" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required />
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="/sign-up-form">Sign up</a></p>
            </form>
        </section>
    </main>
</body>
</html>