<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload files</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <main>
        <div>
            <% if (typeof errors !== "undefined" && errors.length > 0) { %>
                <ul>
                  <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                  <% }) %>
                </ul>
            <% } %>
        </div>
        <section>
            <h1>Upload</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for="foldername">Folder Name</label>
                <input type="text" id="foldername" name="foldername" required />
                <label for="file">Choose File</label>
                <input type="file" id="file" name="file" required />
                <button type="submit">Upload</button>
            </form>
        </section>
    </main>
</body>
</html>